<section id="about" class="dark-side">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="header">About&nbsp;<span class="dirty-text">Me</span></h3>
      </div>
      <div class="col m4">
        <p class="sub-header">Who am I</p>
        <div class="line"></div>
        <p>
          My name is Dave. I love messing around with technology, playing video
          games, reading books and puns.
        </p>
      </div>
      <div class="col m4">
        <p class="sub-header">What I do</p>
        <div class="line"></div>
        <p>
          I'm a Dave-loper (pun intended) at GDS Hive, GovTech, engineering
          digital government and making lives better.
        </p>
      </div>
      <div class="col m4">
        <p class="sub-header">What's up</p>
        <div class="line"></div>
        <p>
          Animations and website uptime monitoring. Also, variable fonts,
          virtual keyboards, and photo manipulation.
        </p>
      </div>
    </div>
  </div>
</section>
