<section id="about" class="dark-side">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="header">About <span class="dirty-text">Me</span></h3>
      </div>
      <div class="col m4">
        <p class="sub-header">Who am I</p>
        <div class="line"></div>
        <p>
          My name is Dave and I enjoy problem solving and puns. During my free
          time, I like to experiment with new technologies, play games, read
          books and occasionally I'll write stuff.
        </p>
      </div>
      <div class="col m4">
        <p class="sub-header">What I do</p>
        <div class="line"></div>
        <p>
          I'm a Dave-loper (pun intended) in Government Technology Agency of
          Singapore, and am part of the Digital Design and Development Team
          (DCUBE). We build amazing products to help our citizens.
        </p>
      </div>
      <div class="col m4">
        <p class="sub-header">What's next</p>
        <div class="line"></div>
        <p>
          This year I'll be exploring web animations and various tools that can
          analyse the usability of a website - click maps, heat maps, individual
          user action recordings, and more.
        </p>
      </div>
    </div>
  </div>
</section>
