<section id="contact" class="dark-side">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="header">
					<span class="dirty-text">Get in</span> Touch</h3>
				<p>If you have something to share with me, work related or not, feel free to drop me a message. I'll try to reply as
					soon as I can.</p>
			</div>
			<div class="col s12 m4">
				<div class="line"></div>
				<a class="icon-link" href="{{ site.facebook }}" target="_blank">
					<i class="icon-facebook-squared small"></i>
				</a>
				<a class="icon-link" href="{{ site.googleplus }}" target="_blank">
					<i class="icon-gplus-squared small"></i>
				</a>
				<a class="icon-link" href="{{ site.linkedin }}" target="_blank">
					<i class="icon-linkedin-squared small"></i>
				</a>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</div>
		</div>
	</div>
</section>
