<section id="contact" class="dark-side">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="header">
          <span class="dirty-text">Get in</span>&nbsp;Touch
        </h3>
        <p>
          If you have something to share with me, work related or not, feel free
          to drop me a message. I'll try to reply as soon as I can.
        </p>
      </div>
      <div class="col s12 m4">
        <div class="line"></div>
        <a
          aria-label="Opens new tab to Facebook profile"
          class="icon-link"
          href="{{ site.facebook }}"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="icon-facebook-squared small"></i>
        </a>
        <a
          aria-label="Opens new tab to Linkedin profile"
          class="icon-link"
          href="{{ site.linkedin }}"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="icon-linkedin-squared small"></i>
        </a>
        <a
          aria-label="Opens new tab to Twitter profile"
          class="icon-link"
          href="{{ site.twitter }}"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="icon-twitter-squared small"></i>
        </a>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>
  </div>
</section>
