<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="header">My Projects</h3>
        <p
          class="codepen"
          data-height="400"
          data-theme-id="dark"
          data-default-tab="result"
          data-user="Milleus"
          data-slug-hash="bGNRMzV"
          data-preview="true"
          style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
          data-pen-title="Solar Eclipse CSS only"
        >
          <span
            >See the Pen
            <a href="https://codepen.io/Milleus/pen/bGNRMzV">
              Solar Eclipse CSS only</a
            >
            by Dave Quah (<a href="https://codepen.io/Milleus">@Milleus</a>) on
            <a href="https://codepen.io">CodePen</a>.</span
          >
        </p>
        <script
          async
          src="https://static.codepen.io/assets/embed/ei.js"
        ></script>
        <p>
          Check out my
          <a href="{{ site.codepen }}" rel="noopener noreferrer" target="_blank"
            >Codepen</a
          >
          for the fun stuff!
        </p>
      </div>
    </div>
    <div class="row">
      {% for project in site.data.projects %}
      <div class="col m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img
              class="activator"
              src="{{ project.image_path }}"
              alt="Image of project"
            />
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              {{ project.title }}
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              <a
                href="{{ project.href.path }}"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{ project.href.name }}
              </a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              {{ project.title }}
              <i class="material-icons right">close</i>
            </span>
            <p>{{ project.description.main }}</p>
            <p>{{ project.description.sub }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
