<div class="col m6">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ include.src }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ include.title }}
        <i class="material-icons right">more_vert</i>
      </span>
      <p>
        <a href="{{ include.href }}" target="_blank">{{ include.href-name }}</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ include.title }}
        <i class="material-icons right">close</i>
      </span>
      {{ include.description }}
    </div>
  </div>
</div>