<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <img class="circle" src="/static/img/dave_quah.jpg">
      <span class="white-text name">Dave Quah</span>
      <span class="white-text subtext">Tech Enthusiast</span>
    </div>
  </li>
  <li><div class="divider"></div></li>
  <li><a href="/#home">Home</a></li>
  <li><a href="/#about">About</a></li>
  <li><a href="/#projects">Projects</a></li>
  <li><a href="/#contact">Contact</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>

<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->