<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view dark-side">
      <img class="circle" src="/static/img/dave-quah.jpg" alt="Dave Quah" />
      <span class="name">Dave Quah</span>
      <a href="mailto:{{ site.email }}">
        <span class="email">{{ site.email }}</span>
      </a>
    </div>
  </li>
  <li><a class="waves-effect sidenav-close" href="#home">Home</a></li>
  <li><a class="waves-effect sidenav-close" href="#about">About Me</a></li>
  <li>
    <a class="waves-effect sidenav-close" href="#projects">My Projects</a>
  </li>
  <li>
    <a class="waves-effect sidenav-close" href="#contact">Get In Touch</a>
  </li>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
  <i class="material-icons medium">menu</i>
</a>
