/* spells on global cooldown */
html { background: #f2f2f2; }
body { margin: 0; }
header,
main,
footer { padding-left: 300px; }
h1 { font-size: 3.7rem; font-weight: 200; -webkit-font-smoothing: antialiased; }
h2 { font-size: 2.5rem; -webkit-font-smoothing: antialiased; }
h3 { font-size: 2rem; -webkit-font-smoothing: antialiased; }
a { color: red; text-decoration: underline; transition: all .3s; }
a:hover { color: #400101; }

section { align-items: center; display: flex; padding: 50px 0; }
section .header { text-transform: uppercase; }
section .sub-header { min-height: 20px; text-transform: uppercase; }
section .line { background-color: red; height: 3px; margin: 10px 0; width: 20px; }
.dirty-text { color: red; }

/* dark side */
.dark-side { background: #000; color: #f2f2f2; }
.dark-side p,
.dark-side a,
.dark-side span { letter-spacing: .5px; }
.dark-side a { color: #f2f2f2; }
.dark-side a:hover { color: red; }

/* navigation */
#slide-out { background-color: #590202; border-right: 3px solid #f2f2f2; }
#slide-out .user-view { background: #400101; }
#slide-out .user-view .name { text-transform: uppercase; }
#slide-out li > a { color: #f2f2f2; text-decoration: none; }

/* home */
#home { align-items: center; flex-direction: column; justify-content: center; height: 100vh; min-height: 400px; }
#home .caption { font-size: 28px; font-weight: 200; display: flex; margin: 0; -webkit-font-smoothing: subpixel-antialiased; }
#home #typity { animation: blink-caret .75s step-end infinite; background: transparent; background-size: 200% 100%; border-right: 2px solid black; position: relative; transition: background-position .4s; }
#home #typity.highlighted { background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 50%, transparent 50%); background-image: linear-gradient(to left, rgba(0,0,0,0.2) 50%, transparent 50%); background-position: 100% 0; border-right: none; }
#home #typity:after { background-color: red; bottom: 3px; content: ""; height: 3px; left: 0; position: absolute; width: 100%;  }
@keyframes blink-caret { from, to { border-color: transparent } 50% { border-color: black; } }

/* about */
/* projects */
/* contact */
#contact .icon-link { text-decoration: none; }
/* blog */

/* posts */
#post code { background-color: #400101; border-radius: 3px; color: red; font-family: "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace; font-size: 10px; line-height: 2; padding: 1px 5px; vertical-align: middle; }

/* responsive */
@media only screen and (max-width : 992px) {
  header, main, footer { padding-left: 0; }
  #home { height: calc(100vh - 62px); }
}