/* spells on global cooldown */
html { background: #fff; font-family: 'Source Sans Pro', sans-serif; }
body { margin: 0; }
header,
main,
footer { padding-left: 300px; }

h1 { font-size: 3.7rem; font-weight: 200; -webkit-font-smoothing: antialiased; }
h2 { font-size: 2.5rem; -webkit-font-smoothing: antialiased; }
p { font-weight: 200; letter-spacing: 1px; margin: 0; }
a { font-weight: 200; letter-spacing: 1px; margin: 0; outline: none; text-decoration: none; }

section { padding: 50px 0; display: flex; align-items: center; }
section .header { text-transform: uppercase; }
section .sub-header { font-weight: 200; letter-spacing: 3px; min-height: 20px; text-transform: uppercase; margin-top: 1.46rem; }
section .line { background-color: red; height: 3px; width: 20px; margin: 10px 0; }
.dirty-text { color: red; }

/* dark side */
.dark-side { background: #000; color: #fff; }

/* navigation */
#slide-out { background-color: #000; border-right: 1px solid #fff; }
#slide-out .userView .name { font-weight: 200; letter-spacing: 3px; min-height: 20px; text-transform: uppercase; }
#slide-out .userView .subtext { font-size: .75rem; font-weight: 200; letter-spacing: 3px; text-transform: uppercase; }
#slide-out .divider { margin-left: 32px; margin-right: 32px; background-color: red; }
#slide-out li > a { color: #fff; font-size: .75em; opacity: .7; letter-spacing: 3px; margin: auto; transition: all 300ms 0s ease; text-transform: uppercase; }
#slide-out li > a:hover { color: red; opacity: 1; }

/* home */
section#home { min-height: 640px; height: 100vh; align-items: center; justify-content: center; flex-direction: column; }
section#home p.caption { color: #aeaeae; font-size: 28px; font-weight: 100; -webkit-font-smoothing: subpixel-antialiased; }

/* about */
section#about { min-height: 500px; }

/* projects */
section#projects { min-height: 500px; align-items: center; justify-content: center; flex-direction: column; }

/* contact */
section#contact { min-height: 500px; }
section#contact a { color: #fff; transition: color 300ms 0s ease; }
section#contact a:hover { color: red; }

/* blog & posts */
section#blog p,
section#post p { color: #525252; font-weight: 400; margin: 10px 0 20px; letter-spacing: 0; font-size: 14.5px; line-height: 1.7; }

section#blog a,
section#post a { color: #f4645f; font-weight: 400; letter-spacing: 0; text-decoration: underline; transition: color 300ms 0s ease; }

section#blog a:hover,
section#post a:hover { color: red; }

section#post code { background-color: #f0f2f1; border-radius: 3px; color: #f4645f; font-family: "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace; font-size: 11px; line-height: 2; padding: 1px 5px; vertical-align: middle; }

/* responsive */
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}