<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400,600" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/fontello.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/custom.css" media="screen,projection"/>
    {% if page.specific_css %}
      {% for css_file in page.specific_css %}
      <link type="text/css" rel="stylesheet" href="/static/css/{{css_file}}.css" media="screen,projection"/>
      {% endfor %}
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dave Quah - {{ page.title }}</title>
    <script type="text/javascript" src="/static/js/apppulse-web.js"></script>
  </head>

  <body>
    <header>
      {% include side-navigation.html %}
    </header>

    <main>
      {{ content }}
    </main>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    {% if page.specific_js %}
      {% for js_file in page.specific_js %}
        <script type="text/javascript" src="/static/js/{{js_file}}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>