<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>

  <link href="/_assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/_assets/css/custom.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="img/milleus.jpg" alt="Milleus" class="rounded-circle"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
        aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

      <div class="collapse navbar-collapse" id="main-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Profile</a>
          <a class="nav-item nav-link" href="#">Projects</a>
          <a class="nav-item nav-link" href="#">Blog</a>
        </div>
      </div>
    </div>
  </nav>

  {{ content }}

  <script src="/_assets/js/jquery-3.2.1.min.js"></script>
  <script src="/_assets/js/bootstrap.min.js"></script>
  <script src="js/three.min.js"></script>
  <script src="js/renderers/Projector.js"></script>
  <script src="js/renderers/CanvasRenderer.js"></script>
  <script src="obj/Bird.js"></script>
  <script src="js/smlj.js"></script>
</body>

</html>