<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/project-ki-toh-loh-jiak.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dave Quah - {{ page.title }}</title>
  </head>

  <body>
    {{ content }}
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/project-ki-toh-loh-jiak.js"></script>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZerUWtvMgb2OtAzZ17z1MCy4-g7Dk98g&libraries=places&callback=initMap"></script>
  </body>
</html>