<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/static/css/project-melissa.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dave Quah - {{ page.title }}</title>
  </head>

  <body>
    {{ content }}
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/project-melissa.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZerUWtvMgb2OtAzZ17z1MCy4-g7Dk98g&libraries=places&callback=initMap"></script>
  </body>
</html>